<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{author}}">
    <meta name="description" content="{{excerpt}}">
    <meta name="keywords" content="{{tags}}">
    <title>{{title}}</title>
</head>
<body>
    {{{navigation}}}

    <main>
        {{{bodyContent}}}
    </main>

    <footer>
        <span id="lightSwitchLabel">Toggle Dark Mode</span>
        <button id="lightSwitch"></button>
    </footer>
    <script src="/js/lightSwitch.js"></script>
</body>
</html>
