<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{author}}">
    <meta name="description" content="{{excerpt}}">
    <meta name="keywords" content="{{tags}}">
    <title>{{title}}</title>
</head>
<body>
    {{{navigation}}}

    <main>
        {{{bodyContent}}}
    </main>

    <footer>
        <!-- Hi! I'm a footer! -->
    </footer>
</body>
</html>
